.bar-chart_container {
    background: #d0bcff4d;
    border-radius: 10px;
    margin-left: 1rem;
    margin-top: 1.5rem;
    padding: 10px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-self: start;
    overflow-y: auto;
    max-height: 150px;
}

.bar-chart_container::-webkit-scrollbar {
    display: none;
}

.bar-chart_container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bar_title {
    display: flex;
    align-items: center;
    padding-left: .5rem;
    gap: .8rem;
}

.bar_title .tittle {
    font-size: 16px;
}

.bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.label {
    width: 60px;
    font-weight: bold;
}

.progress-container {
    background-color: #ffffff;
    border-radius: 50px;
    flex-grow: 1;
    overflow: hidden;
    height: 20px;
    margin: 0 10px;
}

.progress {
    background-color: #6a0dad;
    height: 100%;
    border-radius: 50px;
}

.percentage {
    width: 40px;
    text-align: right;
}
