.slide_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 5%;
    gap: 2rem;
    transition: background-color 0.5s ease;
}

/* Comportamiento sticky para Buttons */
.buttons-sticky {
    position: sticky;
    top: 200px; /* Ajustar esto para que esté justo debajo del componente Top */
    z-index: 9;
    background-color: #d1b3ff; /* Opcional: color de fondo al volverse sticky */
    padding: 10px 0; /* Opcional: agregar padding */
}

.slide_buttons button {
    width: 6rem;
    height: 90%;
    border-radius: 0.8rem;
    border: none;
}
